{% extends 'carrito/base.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Bienvenido a Mi Tienda</h1>
    <p>Esta es la página principal de tu tienda.</p>

    <h2 class="mt-4">Productos disponibles</h2>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">Precio: ${{ producto.precio }}</p>
                    <button class="btn btn-primary agregar-carrito" data-id="{{ producto.id }}">Agregar al Carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.agregar-carrito').forEach(button => {
            button.addEventListener('click', function(event) {
                const productoId = this.getAttribute('data-id');
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                fetch(`{% url 'agregar_al_carrito_ajax' 0 %}`.replace('0', productoId), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error(data.error);
                    } else {
                        document.querySelector('.badge.bg-primary').textContent = data.total_items;
                        mostrarMensaje(data.mensaje);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });

    function mostrarMensaje(mensaje) {
        const mensajeDiv = document.getElementById('mensaje');
        mensajeDiv.textContent = mensaje;
        mensajeDiv.style.display = 'block';
        setTimeout(() => {
            mensajeDiv.style.display = 'none';
        }, 3000);  // El mensaje desaparecerá después de 3 segundos
    }
</script>
{% endblock %}
