{% extends 'carrito/base.html' %}

{% block title %}Carrito de Compras{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Carrito de Compras</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                {% for linea in lineas %}
                <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                    <div class="d-flex align-items-center">
                        {% if linea.producto.imagen %}
                        <img src="{{ linea.producto.imagen.url }}" alt="{{ linea.producto.nombre }}" class="img-carrito img-fluid">
                        {% endif %}
                        <span class="fs-5">{{ linea.producto.nombre }} x {{ linea.cantidad }}</span>
                    </div>
                    <div class="text-end">
                        <span class="badge bg-primary rounded-pill fs-5">${{ linea.precio_total|floatformat:2 }}</span>
                        <a href="{% url 'eliminar_del_carrito' linea.producto.id %}" class="btn btn-danger btn-sm ms-2 btn-lg">Eliminar</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="mt-4 text-center">
                <h5>Total de artículos: {{ total_articulos }}</h5>
                <h5>Total a pagar: ${{ total_precio|floatformat:2 }}</h5>
                <a href="{% url 'pagar' %}" class="btn btn-success mt-3 btn-lg {% if total_articulos == 0 %}disabled{% endif %}">Pagar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
